#logo {
  width: 200px;
  height: 200px;
  background: url('../assets/holberton-logo.jpg');
  background-size: 200px 200px;
}

#button {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  grid-gap: 10px;
}

#count {
  font-weight: bold;
}
