.table-div {
  height: 650px;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 50px;
}

table {
  border: 2px solid lightgrey;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
}

th {
  border-bottom: 3px solid lightgrey;
}

.col-header {
  text-align: left;
}
